.mydrink-item{
  position: relative;
}

.delete-drink{
  background-color: tomato;
  border: none;
  width: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: -10px;
}

.default-massege{
  color: rgba(255, 0, 0, 0.581);
  font-size: 24px;
}