.header-search{
  padding-inline: 50px;
  margin-block: 40px;
  font-family: 'Montserrat', sans-serif;
  color: #262B46;

  input{
    background-color: white;
    text-align: center;
    line-height: 32px;
    border-radius: 6px;
    width: 127px;
  }

  button{
    line-height: 32px;
    border: none;
    width: 78px;
    margin-left: 10px;
    background-color: #6FC3DF;
    border-radius: 6px;
    font-size: 12px;
  }
}