nav{
  padding: 21px;
  display: flex;
  justify-content: space-between;
  align-items: self-start;
  height: 52px;

  h2{
    font-family: 'Playfair Display', serif;
    font-size: 13px;
    letter-spacing: 4px;
  }

  p{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-bottom: 10px;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }
  a{
    color: #fff;
    text-decoration: none;
  }

  div{

    &:hover .list{
      max-height: 200px; /* oder eine andere maximale Höhe */
      transition: max-height 0.5s ease-in;
    }
  }
  
}

.list {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  background-color: rgba(255, 255, 255, 0.191);

  li{
    padding-top: 10px;
    font-size: 14px;
    padding: 10px;

    &:hover{
      text-decoration: underline;
    }
  }
}
